<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tw.bot.kaxanet.linway"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<!-- 	<uses-permission android:name="android.permission.CAMERA" /> -->

<!--     <uses-feature android:name="android.hardware.camera" /> -->
    <uses-sdk android:minSdkVersion="7" />

    <application
        android:icon="@drawable/qaicon"
        android:label="@string/app_name" >
        <activity
            android:name=".Splash"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND" >
          <intent-filter>
            <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
            <category android:name="tw.bot.kaxanet.linway" />
          </intent-filter>
        </receiver>
        
        <service android:name=".GCMIntentService" />
        <activity 
            android:name=".KaxaActivity"
            android:screenOrientation="portrait" 
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity 
            android:name=".Main"
            android:screenOrientation="portrait" 
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity 
            android:name=".MyPage"
            android:screenOrientation="portrait" 
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity 
            android:name=".InsideList"
            android:screenOrientation="portrait" 
            android:theme="@android:style/Theme.NoTitleBar"/>   
        <activity 
            android:name=".InsideSubList"
            android:screenOrientation="portrait" 
            android:theme="@android:style/Theme.NoTitleBar"/>     
        <activity 
            android:name=".InsideDetail"
            android:screenOrientation="portrait" 
            android:theme="@android:style/Theme.NoTitleBar"/>             
        <activity 
            android:name=".Search"
            android:screenOrientation="portrait" 
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity 
            android:name=".Setting"
            android:screenOrientation="portrait" 
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity 
            android:name=".DetailsList"
            android:screenOrientation="portrait" 
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity 
            android:name=".AccountSetting"
            android:screenOrientation="portrait" 
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity 
            android:name=".AccountCreate"
            android:screenOrientation="portrait" 
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity 
            android:name=".PhotoView"
            android:screenOrientation="portrait" 
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity 
            android:name=".testupload"
            android:screenOrientation="portrait" 
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity 
            android:name=".Ask"
            android:screenOrientation="portrait" 
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity 
            android:name=".ImagePagerActivity"
            android:screenOrientation="portrait" 
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity 
            android:name=".About"
            android:screenOrientation="portrait" 
            android:theme="@android:style/Theme.NoTitleBar"/>
        
    </application>
    
    <permission android:name="tw.bot.kaxanet.linway.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="tw.bot.kaxanet.linway.permission.C2D_MESSAGE" /> 
    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" /> 
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
</manifest>